Parser/node_modules/
Static server/node_modules/
Parser/.idea/
Static server/.idea/encodings.xml
Static server/.idea/
Renamer/node_modules/optimist/node_modules/minimist/test/bool.js
Renamer/node_modules/
Renamer/.idea/
WebCrawler/node_modules/
WebCrawler/.idea/workspace.xml
Renamer/test/20.txt
WebCrawler/.idea/
Dashboard/node_modules/
