{% extends 'layouts/layout.html' %}

{% block title %} Project {{id}}{% endblock %}

{% block content %}

<div class="row">
    {% if message.length > 0 %}
    <div class="alert alert-danger">{{ message }}</div>
    {% endif %}
    <form action="" method="POST">
        <div class="col-xs-12 col-sm-6 col-lg-8">
            <div class="form-group">
                <label for="name">Project Name</label>
                <input type="text" class="form-control" name="name" id="name" placeholder="Project Name"
                       required="required" value="{{Model.name}}"/>
            </div>

            <div class="form-group">
                <label for="description">Project Description</label>
				<textarea class="form-control" name="description" id="description" style="min-height: 120px;"
                          placeholder="Project Description">{{Model.description}}</textarea>
            </div>
        </div>

        {% if Model %}
        <div class="col-xs-12 col-sm-3 col-lg-2">

            <label>Priorities</label>
            <ul class="list-group">
                {% for priority in Model.priorities %}
                <li class="list-group-item">

                    <i style="background: {{priority.color}}; display: inline-block; width: 16px; height: 16px;"></i>
                    <span>{{priority.name}}</span>
                    <form method="delete" action="/priorities/{{priority.id}}">
                        <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#priorityModal">Delete
                        </button>
                    </form>
                </li>
                {% endfor %}
            </ul>

            <div class="form-group text-center">
                <button type="button" class="btn btn-warning btn-lg" data-toggle="modal" data-target="#priorityModal">Add
                </button>
            </div>
        </div>
        {% endif %}

        {% if Model %}
        <div class="col-xs-12 col-sm-3 col-lg-2 text-center">

            <label>Statuses</label>
            <ul class="list-group">
                {% for status in Model.statuses %}
                <li class="list-group-item">{{status.name}}</li>
                <form method="delete" action="/statuses/{{status.id}}">
                    <button type="button" class="btn btn-warning " data-toggle="modal" data-target="#priorityModal">Delete
                    </button>
                </form>
                {% endfor %}
            </ul>


            <div class="form-group">
                <button type="button" class="btn btn-warning btn-lg" data-toggle="modal" data-target="#statusModal">Add
                </button>
            </div>
        </div>
        {% endif %}


        <div class="col-xs-12">
            <hr/>
        </div>
        <div class="col-xs-12 text-center">
            <button type="submit" class="btn btn-primary">Save Project</button>
            <a href="../" class="btn btn-danger">Delete</a>
            <a href="./" class="btn btn-default">Cancel</a>

        </div>
    </form>
    <!-- Priority Modal -->
    <div class="modal fade" id="priorityModal" tabindex="-1" role="dialog" aria-labelledby="priorityModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <form class="modal-content" method="post" action="/priority/{{Model.id}}">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="priorityModalLabel">Priority</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="priorityName">Priority Name</label>
                        <input type="text" class="form-control" id="priorityName" name="priorityName"
                               placeholder="Priority Name" required="required" value=""/>
                    </div>

                    <div class="form-group">
                        <label for="priorityColor">Priority Color</label>

                        <div class="input-group c-picker">

                            <input type="text" name="priorityColor" class="form-control"
                                   id="priorityColor"/>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Save changes</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

                </div>
            </form>
        </div>
    </div>

    <!-- Status Modal -->
    <div class="modal fade" id="statusModal" tabindex="-1" role="dialog" aria-labelledby="statusModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <form class="modal-content" method="post" action="/status/{{Model.id}}">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="statusModalLabel">Status</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="statusName">Status Name</label>
                        <input type="text" class="form-control" name="statusName" id="statusName"
                               placeholder="Status Name" required="required" value=""/>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Save changes</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

                </div>
            </form>
        </div>
    </div>
</div>



{% endblock %}
